body {
    margin: 0px;
    font-family: 'Fira Sans' Arial, Helvetica, sans-serif;


}
body a  {
    text-decoration: none;
    color:black; 

}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

img {
    max-width: 100%;
    display: block;
    
}
.cor2{
    color:#e6e6e6
}
.subtitulo {
    font-size: 8.5rem;
    color: #e6e6e6; 
    margin:0px;
    max-width: 4ch;
    text-transform:uppercase;
    word-break: break-all; }
    