.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
   
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 45px;
}
.header-menu a {
    font-size: 1.125rem;
    padding: 15px;
    display:block;

}

@media (max-width:700px) {
    .header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;

    }
    .header-menu {
        justify-content: center;
    }
    .header-menu a {
        background-color: #e7e7e7;
        border-radius: 4px;

    }
}
.nome {
    font-family: fira sans;
    font-size: 46px;
}